<html>
<head>
	<title>login</title>
	<link rel="stylesheet" href="/site_media/login/2.css"/>
</head>
<body>
	<div style="padding: 100px 0 0 250px;">
<div id="login-box">
<H2>Login</H2>
<div class="col">
{% if state %}
		<font color="red" size=3>{{state}}</font>
		{% endif %}
	</div>
<br />
<br />
<form action='/log/' method='post'>
<div id="login-box-name" style="margin-top:20px;">Username:</div><div id="login-box-field" style="margin-top:20px;"><input name="username" class="form-login" title="Username" value="" size="30" maxlength="2048" /></div>
<div id="login-box-name">Password:</div><div id="login-box-field"><input name="passw" type="password" class="form-login" title="Password" value="" size="30" maxlength="2048" /></div>
<br />
<br />
<br />
<br />
<br />
<center><input type="submit" Value="login"/></center>
</div>
</form>
</body>
</html>

