<html>
<head>
	<title>view</title>
	<link rel="stylesheet" href="/site_media/css/bootstrap.css"/>
	<link rel="stylesheet" href="/site_media/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.min.css"/>
	<!--link rel="stylesheet" href="/site_media/style.css"/-->
	<body>
		<div id="top-navigation" align="right">
		<a href="/logout">Log out</a></div>
		
			<!--input type="submit" value="view members"-->
			<h1>Registered members:</h1>
			{% for register in results %}
	<li>{{ register|escape }}</li>
	{% endfor %}</br></br>
	<input type="submit" value="back" onclick="history.go(-1); return true">
	</body>
</head>
</html>